

.list-salons {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap; 
}
.salon-item {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 75px;
    /* margin-bottom: 5px; */
    background-color: #ededed;
    margin-right: 5px;
    margin-top: 5px;
}
.salon-name {
    font-size: 18px;
    font-weight: bold;
    height: 10px;
    color: #000;
    text-align: center;
}
.salon-review-star {
    padding: 0px 0px 0px 10px;
}
.salon-address {
    font-size: 16px;
    color: #727578;
    text-align: center;
}
.salon-review-point {
    padding: 5px 0px 0px 10px; 
    color: #0081e3;
}
.salon-review-point:hover {
    color: #0081e3;
}
.salon-images {
    padding-left: 0px;
}
.salon-item:hover {
    background-color: #fed136;
}
.salon-item:hover p {
    color: #ffffff;
}
#salons-pagination {
    width: 250px;
    margin: auto;
}
.pagination {
    margin-right: 20px !important;
}
.address-dropdown {
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.city-district-dropdown {
    flex: 0 0 48%; 
    margin-bottom: 5px;
}
.dropdown-menu {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
.page-link:hover {
    background-color: #fed136;
}
.section {
    padding: 40px 0;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.copyright {
    color: #ffffff;
}
footer {
    background-color: #000;
    width: 100%;
    height: 100px;
    margin-top: 100px;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}
.btn-salon-continue {
    margin: auto;
    width: 150px;
}
#btn-insert-customer{
    margin-bottom: 10px;
}


.page-header {
    padding-top: 100px;
}
.date-heading {
    width: 70%;
    margin: 20px auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.day-item, .salon-day-item {
    flex: 0 0 33%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #ededed;
}
.day-title {
    font-size: 16px;
    font-weight: bold;
    height: 10px;
    color: #000;
    text-align: center;
}
.date-title {
    font-size: 14px;
    color: #000;
    text-align: center;
}
.checked {
    color: orange;
}
.active p {
    color: #ffffff;
}
.nav-active {
    background-color: #fed136;
    color: #FFF;
}

.slot-table {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.salon-slot-table {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.salon-slot-item {
    flex: 0 0 12%;                       /* don't grow, don't shrink, width */
    height: 60px;
    margin-bottom: 2px;
    margin-right: 2px;
    background-color: #ededed;
    border-bottom: 2px solid red;
}
.slot-time {
    font-size: 14px;
    text-align: center;
    background-color: #FFF;
    color: #000;
    border: 1px solid #fed136;
    padding: 5px;
    border-radius: 15px;
    margin-top: 5px;
}
.chosen-slot-time {
    background-color: #fed136;
    color: #FFF;
}
.is-past {
    background-color: #ededed;
    color: #000;
    border-color: #ededed;
}
.slot-status {
    font-size: 13px;
    color: #000;
    text-align: center;
}
.slot-item-available-true {
    border-bottom: 4px solid #00cc00;
}
.slot-item-available-false {
    border-bottom: 4px solid red !important;
}
.btn-back {
    margin: auto;
}
.register-form {
    width: 50%;
    margin: auto;
}
.btn-continue {
    margin-left: 10px;
}

.customer-information {
    width: 50%;
    margin: auto;
    display: none;
}

.otp-confirm {
    display: none;
}
#otp-confirm-text {
    text-decoration: underline;
}
.customer-register {
    display: block;
}
.action-button {
    margin: 20px auto;
    width: 70%;
}
.action-button-success {
    margin: auto;
    width: 25%;
}
.slot-action-button {
    margin-top: 20px !important;
    margin: auto;
    width: 25%;
}
.salon-login-form, .salon-register-form {
    width: 45%;
    margin: auto;
}
.salon-address-dropdown {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
a.login-text {
    text-decoration: underline !important;
    font-weight: bold;
    color: #000 !important;
}
a.login-text:hover {
    color: #fed136 !important;
}
.text-center {
    margin: auto;
}
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 130px;
    /* padding: 0px;
    width: 10%;
    background-color: #212529; */
}
.side-nav a {
    padding: 20px 8px 6px 35px;
    text-decoration: none;
    font-size: 16px;
    color: #fff !important;
    display: block;
}

.main-salon-content {
    padding-top: 50px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}
.salon-home-paging {
    margin: auto;
    width: 30%;
    padding-top: 20px;
}
.page-link {
    color: #000;
}
.setting-table {
    margin-top: 20px;
}
.dropdown-slot-time {
    width: 10%;
}
.btn-dropdown-slot-time {
    background-color: #fff !important;
    color: #000;
    border: none;
    padding: 0px;
    font-weight: lighter !important;
    width: 100%;
    height: 100%;
}
.btn-dropdown-slot-time:hover{
    background-color: #fff !important;
}
.dropdown-slot-time li a {
    color: #000;
}
.slot-duration, .slot-capacity {
    padding-left: 10px;
}
.slot-capacity {
    margin-bottom: 30px;
}
.booking-card {
    width: 30%;
    height: 100px;
    background-color: #00cc00
}
.customer-card {
    width: 30%;
    height: 100px;
    background-color: red;
    margin-left: 10px;
}
.invisible {
    display: none;
}
.salon-nav {
    color: #FFF;
}
.customer-nav {
    color: #FFF;
}
.col-checkbox {
    text-align: center;
}
.form-check-input {
    width: 20px;
    height: 20px;
}

.setting-dropdown {
    width: 100%;
    height: 100%;
}
#open-side-menu {
    font-size:30px;
    cursor:pointer;
    margin-left: 20px;
}
.side-nav .closebtn {
    position: absolute;
    top: 65px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    color: #FFF;
    height: 65px;
}
.side-nav a.closebtn:hover {
    background-color: #000;
}
.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }
a {
    cursor: pointer;
}
.react-bs-table-pagination div{
    margin-top: 0px !important;
}
.chosen {
    background-color: #fed136;
}
.date-search {
    width: 40%;
}
#form-date-search {
    width: 100%;
    height: 100%;
}
.available-false {
    background-color: red;
}
.salon-slot-table {
    margin-top: 50px;
    margin-bottom: 10px;
}

.salon-table-title {
    margin-bottom: 50px;
    font-size: 16px;
    width: 90%;
}
#city-dropdown {
    font-size: 15px;
}
#chosen-slot-bookings-table {
    margin-bottom: 15px;
}
th {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
.alert {
    width: 80%;
    margin: auto;
    text-align: center;
}
.phone-number {
    color: #00cc00;
}
.customer-table {
    margin-top: 40px;
}
.list-service {
    margin-top: 20px;
}
.service-label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}
.service-service-text {
    margin-bottom: 20px;
    font-weight: bold;
}
.service {
    padding: 10px 0;
    border-top: 1.5px solid #E6E6E6;
}
.salon-section-title {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}
.floating-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fed136;
    color: white;
    z-index: 9999;
    height: 90px;
    display: none;

}
.float-booking {
    margin-top: 30px;
}
.float-booking-services, .float-booking-price {
    font-size: 17px;
    font-weight: bold;
    color: #000;
}
.salon-bg-image {
    width: 100%;
    height: 100%;
}
.salon-info {
    margin-bottom: 15px;
    font-size: 16px;
}

.salon-register-nav {
    background-color: #FFF;
    color: #000 !important;
    font-weight: bold !important;
}
.salon-register-nav:hover {
    background-color: #fed136;
}

.search-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url("../images/Search_001.png");
    background-size: cover;
    background-position: center center;
    padding: 15px;
}

.search-form form {
width: 100%;
max-width: 1290px;
}

.search-form form legend {
font-size: 40px;
line-height: 1;
color: #fff;
margin-bottom: 60px;
}

.search-form form .inner-form {
background: rgba(0, 0, 0, 0.5);
padding: 50px 47px;
display: -ms-flexbox;
display: flex;
width: 100%;
-ms-flex-pack: justify;
    justify-content: space-between;
-ms-flex-align: center;
    align-items: center;
}

.search-form form .inner-form .input-field {
margin-right: 30px;
height: 68px;
}
  
.search-form form .inner-form .input-field input {
height: 100%;
background: #fff;
border-radius: .5px;
border: 0;
display: block;
width: 100%;
padding: 10px 32px;
font-size: 20px;
}

.search-form form .inner-form .input-field input.placeholder {
color: #9a9a9a;
font-size: 20px;
}

.search-form form .inner-form .input-field input:-moz-placeholder {
color: #9a9a9a;
font-size: 20px;
}

.search-form form .inner-form .input-field input::-webkit-input-placeholder {
color: #9a9a9a;
font-size: 20px;
}

.search-form form .inner-form .input-field input:hover, .search-form form .inner-form .input-field input:focus {
box-shadow: none;
outline: 0;
}

.search-form form .inner-form .input-field.first-wrap {
-ms-flex-positive: 1;
    flex-grow: 1;
}

.search-form form .inner-form .input-field.second-wrap {
width: 32.77%;
min-width: 180px;
}

.search-form form .inner-form .input-field.third-wrap {
width: 180px;
margin-right: 0;
}

.search-form form .inner-form .input-field.third-wrap .btn-search {
height: 100%;
width: 100%;
white-space: nowrap;
border-radius: .5px;
font-size: 20px;
color: #fff;
transition: all .2s ease-out, color .2s ease-out;
border: 0;
cursor: pointer;
}

.search-form form .inner-form .input-field.third-wrap .btn-search:hover {
background: #2d62d3;
}
.city-search {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #000;
    width: 100%;
    height: 100%; 
}
.city-option {
    color: #000;
}

.sort-bar {
    font-weight: 400;
    padding: .8125rem 1.25rem;
    align-items: center;
    justify-content: space-between;
}
.sort-bar-label {
    color: #000;
    margin: 0 .3125rem 0 0;
}
.sort-by-options {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: flex-start;
}
.sort-by-option {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
    height: 2.125rem;
    line-height: 2.125rem;
    border-radius: 2px;
    border: 0;
}

.customer-reviews {
    margin-top: 20px;
}
.average-review {
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.average-review-label {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin: auto;
}
.average-review-point {
    width: 100%;
    padding: 5px 0 0 30px;
    font-size: 47px;
    color: #fe302e;
    font-weight: 500;
    display: inline-block;
    margin: auto;
}
.average-review-star {
    width: 100%;
    font-size: 28px;
    display: inline-block;
    margin: auto;
}
.average-review-number {
    width: 100%;
    font-size: 18px;
    display: inline-block;
    margin: auto;
}
.star-rate {
    margin: auto;
    text-align: center;
}
.rate-label {
    margin-left: 30px;
    margin-top: 5px;
}
.review-progress {
    width: 70%;
    margin-left: 20px;
    margin-top: 10px;
}
.review-button {
    margin-top: 25%;
}
.reviewer-image {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: auto;
}
.reviewer-name {
    font-size: 16px;
    color: #000;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.review-time {
    font-size: 14px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.review-item {
    margin-top: 15px;
}
.review-item-status {
    color: #22b345;
}
.review-image {
    width: 75px;
    height: 75px;
    margin-left: 5px;
}
.review-filter-dropdown {
    margin-top: 10px;
    text-align: center;
}
.review-filter-title {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
    text-align: center;
}
.badge {
    float:right;margin-bottom:-10px;
    background-color: #fed136; 
}
.bell-float-button {
    background-color: #fed136 !important; 
}
.popup {
    transition: all 320ms ease-in-out 0s;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    min-width: 27em;
    max-width: 32em;
    color: rgb(99, 107, 111);
    display: none;
    flex-direction: column;
    min-width: 27em;
    max-width: 32em;
    height: 30em;
    box-shadow: 0px 0px 15px 3px rgba(15, 15, 15, 0.2);
    margin-right: 150px;
    position: relative;
    background-color: #fff;
    padding: 10px;
    font-family: Oxygen, sans-serif;
    align-items: center;
    border-radius: 5px;
}
.popup-header {
    text-align: center;
    font-size: 18px;
    padding: 0px 21px;
    border-bottom: 2px solid #65ff67;
    margin-bottom: 17px;
}
.popup-container {
    transition: all 1ms ease-in-out 0s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: 8px;
    position: relative;
}
.popup-tail-shadow {
    background-color: transparent;
    width: 3px;
    height: 3px;
    position: absolute;
    right: -7px;
    bottom: 27px;
    z-index: -10;
    box-shadow: 0px 0px 8px 1px black;
    -moz-box-shadow: 0px 0px 8px 1px black;
    -webkit-box-shadow: 0px 0px 8px 1px black;
}
.popup-tail-glow {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent transparent #73a7f0;
    position: absolute;
    right: -21px;
    bottom: 19px;
}
.popup-tail {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    right: -20px;
    bottom: 19px;
}
.bubble {
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.notification {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    right: 35px;
    bottom: 120px;
    z-index: 1000;
    justify-content: flex-end;
    align-items: flex-end;
}
.social-login-buttons {
    margin: auto;
    max-width: 180px;
   
}
.facebook-login {
    text-align: center;
    display: block;
    background: #29447e url(../img/social/facebook.png) left no-repeat;
    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;
    height: 35px;
    padding-right: 7px;
    padding-left: 29px;
    font-weight: bold;
    font-size: 11px;
    color: white;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;
    cursor: pointer;
}

.profile-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.margin-top {
    margin-top: 6px;
}
.profile-dropdown {
    position: absolute;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
    background: white;
    width: 20%;
    left: 80%;
}
.profile-item > a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.profile-item {
    border-top: 1px solid #E6E6E6;
    padding: 15px;
}
.profile-nav {
    background-color: #e9ebee;
}
.round-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.logo-image {
    width: 150px;
}
.dv-star-rating-star {
    font-size: 40px;
}
.upload-file {
    display: none;
}
.btn-choose-image {
    background-color: #FFF;
    border: 1px solid #fed136;
    color: #fed136;
    border-radius: 5px;
    margin-left: 5px;
    padding: 7px 14px!important;
    width: auto!important;
}
.signed-in-nav {
    display: inherit;
}
.profile-username {
    color: #FFF;
}
.profile-username:hover {
    color: #fed136;
}

.preview-images-zone {
    width: 110px;
    border: 1px solid #ddd;
    min-height: 110px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
}
.preview-images-zone > .preview-image {
    height: 90px;
    width: 90px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100px;
    height: 100px;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100px;
    height: 100px;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 110px;
    height: 110px;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}
.blog-image {
    width: 100%;
    height: 100%;
}
.popular-blog-image {
    width: 100px;
    height: 100px;
}
a.blog-title {
    color: #000;
    font-size: 17px !important;
}
a.blog-title:hover {
    color: #fed136 !important;
}
.blog-date {
    font-size: 13px;
    font-style: italic;
    color: grey;
}
.blog-description {
    margin-top: 10px;
}
a.btn-read {
    display: inline-block;
    padding: 9px 12px;
    margin: 0px;
    border: 1px solid;
    border-radius: 25px;
    border-color: #E6E6E6;
    background-color: #F3F3F3;
    font-family: "Open Sans", Sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.7px;
    float: right;
}
.blog-item {
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.popular-blogs {
    padding: 0px 0px 0px 20px;
}
.popular-blog-label {
    background-color: #2B2B2B;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 14px;
    padding: 15px 0;
    margin: 0 0 25px;
    font-family: "Roboto", Sans-serif;
}
.pull-right {
    float: right !important;
}

.btn-load-more {
    margin: 15px auto;
}
.popular-blog-item {
    margin-top: 25px;
}
.chosen-salon {
    background-color: #2B2B2B;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 14px;
    padding: 15px 0;
    margin: 25px 0 0 10px;
    font-family: "Roboto", Sans-serif;
}
.chosen-item {
    margin: 15px auto;
}
                                   
.chosen-total {
    margin: 15px auto;
    border-top: 1px solid #fed136;
}
.chosen-total-name {
    font-weight: bold;
}
a.add-button:hover {
    color: #fed136 !important;
}
.next-button {
    margin: auto;
}
.profile-nav-item {
    padding: 15px 0px 15px 0px;
    font-size: 18px;
    color: #000;
}
.profile-nav-item:hover {
    background-color: #ccc;
    color: #000;
    text-decoration: none;
}
.current-profile-nav {
    background-color: #ccc;
}
.profile {
width: 100%;
position: relative;
background: #FFF;
border: 1px solid #D5D5D5;
padding-bottom: 5px;
margin-bottom: 20px;
}

.profile .image {
display: block;
position: relative;
z-index: 1;
overflow: hidden;
text-align: center;
border: 5px solid #FFF;
}

.profile .user {
position: relative;
padding: 0px 5px 5px;
}

.profile .user .avatar {
position: absolute;
left: 20px;
top: -85px;
z-index: 2;
}

.profile .user h2 {
font-size: 16px;
line-height: 20px;
display: block;
float: left;
margin: 4px 0px 0px 135px;
font-weight: bold;
}

.profile .user .actions {
float: right;
}

.profile .user .actions .btn {
margin-bottom: 0px;
}

.profile .info {
float: left;
margin-left: 20px;
}

.img-profile {
  height:100px;
  width:100px;
}

.img-cover {
  width:800px;
  height:300px;
}

.notification-item {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
}
.notification-item.unread {
    background-color: #f6fcff;
}
.notification-detail {
    color: #007ff0;
    cursor: pointer;
}
.notification-read {
    color: #007ff0;
    cursor: pointer;
}
.notification-delete {
    color: #d52e1d;
    cursor: pointer;
}
.filter-date-form {
    padding: 10px 0px 10px 0px;
}
.filter-input-date {
    padding: 7px 0px 7px 20px;
    border: 1px solid #E6E6E6;
    width: 100%;
}
.filter-booking-status {
    padding: 7px 0px 7px 20px;
    border: 1px solid #E6E6E6;
    width: 100%;
}
.margin-bottom {
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .search-form form legend {
      font-size: 50px;
      text-align: center;
      margin-bottom: 50px;
    }
    .search-form form .inner-form {
      padding: 30px 35px;
    }
    .search-form form .inner-form .input-field {
      height: 50px;
    }
}
  
  @media screen and (max-width: 767px) {
    .search-form form legend {
      font-size: 40px;
      margin-bottom: 40px;
    }
    .search-form form .inner-form {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 20px;
    }
    .search-form form .inner-form .input-field {
      margin-right: 0;
    }
    .search-form form .inner-form .input-field input {
      padding: 5px 15px;
      font-size: 14px;
    }
    .search-form form .inner-form .input-field.first-wrap {
      width: 100%;
      margin-bottom: 20px;
    }
    .search-form form .inner-form .input-field.second-wrap {
      width: calc(50% - 10px);
      min-width: auto;
    }
    .search-form form .inner-form .input-field.third-wrap {
      width: calc(50% - 10px);
    }
    .search-form form .inner-form .input-field.third-wrap .btn-search {
      font-size: 16px;
    }
}
@media only screen and (max-width: 768px) {
    #insertCustomerModal {
        width: 90%;
    }
    #chosen-slot-bookings-table>div>div.react-bs-table {
        width: 100% !important;
    }
    .salon-slot-item {
        flex: 0 0 24%;  
    }
    .salon-home-paging {
        width: 100%;
    }
    .pagination {
        margin-right: 0px !important;
    }
    th {
        font-size: 12px;
    }
    .setting-table {
        margin-top: 20px;
        width: 100%;
    }
    
    .slot-table {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .date-heading {
        width: 100%;
    }
    .register-form {
        width: 100%;
        margin: auto;
    }
    #btn-continue {
        margin-left: 10px;
    }
    .customer-information {
        width: 100%;
        margin: auto;
    }
    .action-button {
        width: 70%;
        
    }
    .action-button-success {
        margin: auto;
        width: 100%;
    }
    .page-header {
        padding-top: 60px;
    }
    .slot-action-button {
        margin: auto;
        width: 60%;
    }
    .salon-login-form, .salon-register-form  {
        width: 100%;   
    }
    .main-salon-content {
        padding-top: 50px;
        margin: auto;
        margin-bottom: 50px;
        flex: 0 0 95%;
    }
   
    .date-search {
        width: 90%;
    }
    /* sideNavBar salon home screen*/
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 90px;
    }
    .side-nav a {
        padding: 20px 8px 6px 35px;
        text-decoration: none;
        font-size: 16px;
        color: #fff !important;
        display: block;
    }
    .side-nav .closebtn {
        position: absolute;
        top: 20px;
        right: 0px;
        font-size: 36px;
        margin-left: 50px;
        color: #FFF;
        height: 60px;
    }
    .text-filter, .select-filter {
        font-size: 12px;
        width: 110%;
        height: 30px;
    }
    .side-nav a.closebtn:hover {
        background-color: #000;
    }
    .navbar-expand-lg>.container {
        padding-right: 20px;
    }
    .react-bs-table-sizePerPage-dropdown {
        left: 20px;
    }
    .react-bs-table .table-bordered>tbody>tr>td {
        font-size: 13px;
    }
    .react-bs-table-pagination div {
        padding-right: 20px;
    }
    footer {
        height: 165px;
    }
}

@media only screen and (max-width: 420px) {
    .popup {
        margin-right: 73px;
        min-width: 18em;
    }
    .btn-own-salon {
        margin-bottom: 15px;
    }
    .review-button {
        margin-top: 0%;
    }
    .salon-info {
        margin-bottom: 0px;
        margin-left: 20px;
        font-size: 16px;
    }
    .salon-item {
        flex: 0 0 48%;
    }
    .salon-slot-item {
        flex: 0 0 24%;  
    }
    .salon-home-paging {
        width: 100%;
    }
    .pagination {
        margin-right: 0px !important;
    }
    th {
        font-size: 11px;
    }
    .react-bs-table {
        width: 92%;
        margin: auto;
    }
    .setting-table {
        margin-top: 20px;
        width: 300%;
    }
    
    .slot-table {
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .date-heading {
        width: 100%;
    }
    .register-form {
        width: 100%;
        margin: auto;
    }
    #btn-continue {
        margin-left: 10px;
    }
    .customer-information {
        width: 100%;
        margin: auto;
    }
    .action-button {
        width: 70%;
        
    }
    .action-button-success {
        margin: auto;
        width: 100%;
    }
    .page-header {
        padding-top: 60px;
    }
    .slot-action-button {
        margin: auto;
        width: 60%;
    }
    .salon-login-form, .salon-register-form  {
        width: 100%;   
    }
    
    .main-salon-content {
        padding-top: 10px;
    }
    .date-search {
        width: 90%;
    }
    #insertCustomerModal {
        width: 95%;
    }
    #chosen-slot-bookings-table>div>div.react-bs-table {
        width: 100% !important;
    }

    /* sideNavBar salon home screen*/
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 90px;
    }
    .side-nav a {
        padding: 20px 8px 6px 35px;
        text-decoration: none;
        font-size: 16px;
        color: #fff !important;
        display: block;
    }
    .side-nav .closebtn {
        position: absolute;
        top: 20px;
        right: 0px;
        font-size: 36px;
        margin-left: 50px;
        color: #FFF;
        height: 60px;
    }
    .text-filter, .select-filter {
        font-size: 12px;
        width: 110%;
        height: 30px;
    }
    .side-nav a.closebtn:hover {
        background-color: #000;
    }
    .navbar-expand-lg>.container {
        padding-right: 20px;
    }
    .react-bs-table-sizePerPage-dropdown {
        left: 20px;
    }
    .react-bs-table .table-bordered>tbody>tr>td {
        font-size: 11px;
    }
    .react-bs-table-pagination div {
        padding-right: 20px;
    }
    footer {
        height: 165px;
    }
    #city-dropdown {
        font-size: 14px;
    }
    #district-dropdown {
        font-size: 13px;
    }
}
@media only screen and (max-width: 375px) {
    .popup {
        margin-right: 73px;
        min-width: 14em;
    }
}
@media only screen and (max-width: 360px) {
    .slot-item {
        width: 33%;
    }
    .popup {
        margin-right: 73px;
        min-width: 14em;
    }
    #city-dropdown {
        font-size: 14px;
    }
    #district-dropdown {
        font-size: 13px;
    }
    /* sideNavBar salon home screen*/
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 90px;
    }
    .side-nav a {
        padding: 20px 8px 6px 35px;
        text-decoration: none;
        font-size: 16px;
        color: #fff !important;
        display: block;
    }
    .side-nav .closebtn {
        position: absolute;
        top: 20px;
        right: 0px;
        font-size: 36px;
        margin-left: 50px;
        color: #FFF;
        height: 60px;
    }
    .text-filter, .select-filter {
        font-size: 12px;
        width: 110%;
        height: 30px;
    }
    .side-nav a.closebtn:hover {
        background-color: #000;
    }
    .navbar-expand-lg>.container {
        padding-right: 20px;
    }
    .react-bs-table-sizePerPage-dropdown {
        left: 20px;
    }
    .react-bs-table .table-bordered>tbody>tr>td {
        font-size: 11px;
    }
    
}
@media only screen and (max-width: 320px) {
    .notification {
        right: 35px;
        bottom: 80px;
    }
    .popup {
        margin-right: 73px;
        min-width: 12em;
        height: 25em;
    }
    .react-bs-table {
        width: 100%;
        margin: auto;
    }
    th {
        font-size: 10px;
    }
    .react-bs-table .table-bordered>tbody>tr>td {
        font-size: 10px;
    }
    .salon-name {
        font-size: 16px;
        font-weight: bold;
        height: 10px;
        color: #000;
        text-align: center;
    }
    .salon-address {
        font-size: 12px;
        color: #000;
        text-align: center;
    } 
    .section-heading {
        font-size: 25px;
    }
    .address-dropdown {
        width: 100%;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    .date-search {
        width: 90%;
    }
    .cb-working-status {
        width: 60%;
    }
    .slot-action-button {
        width: 70%;
    }
    .salon-item {
        height: 100%;
    }
    
}
@media only screen and (max-width: 500px) {
    .salon-name {
        font-size: 16px;
        font-weight: bold;
        height: 10px;
        color: #000;
        text-align: center;
    }
    .salon-address {
        font-size: 14px;
        color: #000;
        text-align: center;
    } 
    .section-heading {
        font-size: 25px;
    }
    .address-dropdown {
        width: 100%;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    .date-search {
        width: 90%;
    }
}

